@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap")

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", arial;
}

h1,h2,h3,h4,h5,h6, strong {
    color: black;
}

p{
    font-size: 1rem; /* 16px */
    line-height: 1.9rem;
}

p, span, input, textarea, li {
    color: grey;
}

a{
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container
    width: 90%;
}

/* Logo and Navigation Menu */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav li {
    list-style: none;
    display:  flex;
    gap: 3rem;

}


.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: orangered;
}

nav ul li{
    display: flex;
    align-items: center;
}

nav ul li a{
    color: black;
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger{

    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Hero section */

.hero-right {
    display: flex;
    align-items: center;
}

#hero {
    height: 520px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

/* Title */

.section-title{
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
text-transform: uppercase;
letter-spacing: 0.5rem;
color: darkslategray;
padding-left: 40px;
position: relative;
width: fit-content;
font-weight: 500px;
font-size: 0.9rem;
}

.pre-title::before{
    content: "";
    width: 30px;
    height: 1px;
    background-color: darkslategrey;
    position: absolute;
    display: block;
    left: 0;
    top: 50%;

}
.hero-name{
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    position: relative;
    color: black;
}

/* Services section */

#services{
    background-color: rgb(248, 246, 246);
    padding: 6rem;
    display: flex;
    align-items: center;

}

.services .pre-title{
    margin: 0 auto;
}

.services{
    background-color: rgb(255, 255, 255);
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 4rem;
}

.services h4{
    margin: 0.1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.services-icon{
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
}

.services p{
    margin: 0 auto;
    padding: 0.1rem;
    font-size: 0.9rem;
    font-weight: normal;

}

/* Layout */
.grid-3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Portopolio */

#portofolio {
 padding: 6rem;

}

.grid-3 .portofolio {
    border-radius: 1rem;
    overflow: hidden;
    border: 1px solid rgb(231, 231, 231);
    background-color: rgb(252, 252, 252);
}

.portofolio-cover {
    height: 250px;
}

.portofolio-cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portofolio-info {
    padding: 2rem 1.5rem;
}

.portofolio-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portofolio h4{
    font-weight: 500;
    font-size: 1.5rem;

}

.portofolio-title a svg:hover{
    fill: cadetblue;
}

.portofolio-title a svg{
    transition: 0.2s ease-in-out;
}

.portofolio-tags{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portofolio-tags div{
    font-size: 10px;
    padding: 0.2rem;
    border: 1px solid;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    border-radius: 0.3rem;

}

/* Skill & Education */

#skills {
    padding: 6rem;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education{
    display: flex;
    gap: 2rem;
}

.education .line{
    padding: 0 0.7rem;
}

.education .line div{
    width: 2px;
    height: 100%;
    position: relative;
    background-color: darkslategrey;
}

.education .line div::before{
    content: "";
    width: 10px;
    height: 10px;
    background: darkslategray;
    border-radius: 50%;
    position: absolute;
    left: -4px;
}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
}

.skills-right ul {
    line-height: 1.5rem;
    padding: 0 0.1rem;
}

.skills-right p{
    text-align: justify;
}

/* Contact */

#contact{
    background-color: rgb(248, 246, 246);
    padding: 6rem;
    display: flex;
    align-items: center;
}

.contact .pre-title{
    margin: 2rem auto;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}


.contact{
    background-color: rgb(255, 255, 255);
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 4rem;
}

.contact h4{
    margin: 0.1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

.contact p{
    margin: 0 auto;
    padding: 0.1rem;
    font-size: 0.9rem;
    font-weight: normal;
}

.contact-icon{
    width: max-content;
    margin: 0 auto;
    padding: 1rem;
}

/* footer */

footer{
    padding: 4rem 0;
    background-color: rgb(255, 254, 254);
    text-align: center;

}

.footer-icon{
    margin-bottom: 1rem;
}

.footer-icon a{
    margin: 0 0.5rem;
}

.footer-icon svg{
    fill: darkslategray;
    gap: 5rem;
}

.footer-icon a:hover svg{
    fill: black;
}